body{
    /*text-align: center;
    */
}

fieldset {
  background-color: #efefef;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}